<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Framelayel</title>
    <link rel="stylesheet" href="../dist/stylesheets/framelayel.css">
</head>
<body>
    <main>
        <section>
            <form style="display: flex; flex-direction: column;">
                <label for="input-text">Text</label>
                <input type="text" name="input-text" id="input-text" class="fra-field">
                
                <label for="input-date">Date</label>
                <input type="date" name="input-date" id="input-date" class="fra-field">

                <label for="textarea">Date</label>
                <textarea name="textarea" id="textarea" class="fra-field"></textarea>
            </form>
        </section>
    </main>
</body>
</html>